xrouter/Gui/Service References/XRouter.Gui.Service/XRouter2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/XRouter.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/XRouter.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ApplicationConfiguration">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="tns:SerializableXDocument" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApplicationConfiguration" nillable="true" type="tns:ApplicationConfiguration" />
  <xs:complexType name="SerializableXDocument">
    <xs:sequence>
      <xs:element minOccurs="0" name="XmlContent" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SerializableXDocument" nillable="true" type="tns:SerializableXDocument" />
</xs:schema>