xrouter/Gui/Service References/XRouter.Gui.Service/XRouter1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9091/XRouter.ServiceForManagement?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/XRouter.Common" />
  <xs:element name="GetConfiguration">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/XRouter.Common" minOccurs="0" name="GetConfigurationResult" nillable="true" type="q1:ApplicationConfiguration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/XRouter.Common" minOccurs="0" name="config" nillable="true" type="q2:ApplicationConfiguration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeConfigurationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>