SchematronVal/SchematronVal/Resources/schema_phaseC.xml

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns="http://purl.oclc.org/dsdl/schematron">
  <ns prefix="ms" uri="http://purl.oclc.org/dsdl/schematron"/>

  <!-- TODO: Obsahy elementu assert prelozit do AJ. Text se muze dostat k uzivateli. -->
    
  <pattern id="ID_IDREF">
    <rule context="ms:let/@name">
      <assert test="not(.=../preceding-sibling::ms:let/@name)">
        Hodnota atributu <name/> '<value-of select="."/>' neni jednoznacna.
      </assert>
    </rule>
    <rule context="/ms:schema/ms:pattern/@id">
      <assert test="not(.=../preceding-sibling::ms:pattern/@id)">
        Hodnota atributu <name/> '<value-of select="."/>' neni jednoznacna.
      </assert>
    </rule>   
    <rule context="/ms:schema/ms:pattern/ms:rule/@id">
      <assert test="not(.=../preceding-sibling::ms:rule/@id)">
        Hodnota atributu <name/> '<value-of select="."/>' neni jednoznacna.
      </assert>
    </rule>    
    <rule context="/ms:schema/ms:pattern/ms:rule/ms:assert/@id|/ms:schema/ms:pattern/ms:rule/ms:report/@id">
      <assert test="not(.=../preceding-sibling::ms:assert/@id) and not(.=../preceding-sibling::ms:report/@id)">
        Hodnota atributu <name/> '<value-of select="."/>' neni jednoznacna.
      </assert>
    </rule>   
  </pattern>
</schema>