XML/Schematron/InvalidSchemas/bad_ns.xml

<?xml version="1.0" encoding="utf-8"?>

<!-- nevalidni elementy ns -->

<schema xmlns="http://purl.oclc.org/dsdl/schematron">

 <ns/>
 <ns prefix="prefix"/>
 <ns uri="http://purl.oclc.org/dsdl1"/>
 <ns prefix="id" uri="http://purl.oclc.org/dsdl2"/>
 <ns prefix="id" uri="http://purl.oclc.org/dsdl2"/>
 <ns prefix="ns" uri="http://purl.oclc.org/dsdl2"><assert test="count(*)=0"/></ns>

 <pattern>
   <rule context="/x">
     <assert test="count(*)=0"/>
   </rule>
 </pattern> 
</schema>