SchemaTron/SchemaTron/Resources/schema_phaseA.xml

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns="http://purl.oclc.org/dsdl/schematron">
  <ns prefix="ms" uri="http://purl.oclc.org/dsdl/schematron"/>

  <!-- TODO: Obsahy elementu assert prelozit do AJ. Text se muze dostat k uzivateli. -->

  <pattern id="include">
    <rule context="ms:include">
      <assert test="count(@href)=1">
        Element <name/> musi mit atribut href.
      </assert>
      <assert test="parent::ms:schema or parent::ms:phase or parent::ms:pattern or parent::ms:diagnostics or parent::ms:rule">
        Element <name/> muze byt pouze podelementem schema, phase, pattern, diagnostics nebo rule.
      </assert>
    </rule>
    <rule context="ms:include/ms:*">
      <assert test="false()">
        Element <name/> neni povolen v elementu include.
      </assert>
    </rule>
  </pattern>
  
</schema>